
body {
    margin: 0;
    font-size: 70%;
    font-family: 'Nunito', sans-serif;
    }
    
    .mobile-container {
      max-width: 480px;
      margin: auto;
      background-color: #f0dbc7;
      color: black;
      border-radius: 10px;
      font-weight: normal;
    }


       /* STYLING AF SCROLLBAR */   
   
       ::-webkit-scrollbar {
        width: 10px;
      }
      
      ::-webkit-scrollbar-track {
        background: #f0dbc7;
      }
      
      ::-webkit-scrollbar-thumb {
        background: #ff8f1e;
        border-radius: 15px;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #ff8f1e;
        border-radius: 15px;
      }

/* STYLING AF HEADER */

.topnav {
  overflow: hidden;
  background-color: #e3d7c5;
  width: 100%;
  position: relative;
}

.logo {
  width: 100%;
  padding: 10px;
  margin-top: 2%;
  margin-left: 2%;
}

img.logo {
  width: 15%;
  height: 15%;
}

.topnav #mylinks {
  float: right;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  line-height: 5;
  margin: 0 10px;
  }

.topnav ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.checkbtn{
  font-size: 30px;
  color: #ff8f1e;
  float: right;
  line-height: 75px;
  margin-right: 30px;
  cursor: pointer;

}

#check{
  display: none;
}

ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #e3d7c5;
  top: 90px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}

ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}

.topnav ul li a:hover{
color: #e3d7c5;
transition: .5s;
width: 480px;
}

#check:checked ~ ul{
left: 0;
}



/* STYLING AF MAIN */

      h1 {
        color: #ff8f1e;
        font-size: 40px;
        text-align: center;
        font-size: 140%;
      }

      .light img {
        height: 205px;
        width: 130px;
       padding-left: 40%;
      }

      .squash img {
        height: 205px;
        width: 130px;
        padding-left: 39%;
      }

      .sort img {
        height: 200px;
        width: 160px;
        padding-left: 37%;
      }

      .hvid img {
        height: 200px;
        width: 160px;
        padding-left: 37%;
      }

      .light {
        background-color: #e3d7c5;
        padding-bottom: 5%;
        padding-top: 5%;
      }

      .hvid {
        background-color: #e3d7c5;
        padding-bottom: 5%;
        padding-top: 5%;
      }

      .sort {
        padding-bottom: 5%;
        padding-top: 5%;
      }

      .squash {
        padding-bottom: 5%;
        padding-top: 5%;
      }

      .knap1 button {
        border: 0;
        background-color: #e3d7c5;
        margin-left: 41%;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .knap2 button {
        border: 0;
        background-color: #f0dbc7;
        margin-left: 41%;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .knap3 button {
        border: 0;
        background-color: #e3d7c5;
        margin-left: 41%;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .knap4 button {
        border: 0;
        background-color: #f0dbc7;
        margin-left: 41%;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
      }


   /* STYLING AF FOOTER */

   footer {
    padding-left: 5%;
    padding-top: 5%;
  }

    .footer-logo img {
        width: 90px;
        height: 40px;
    }

    .footer-logo h2 {
        font-size: 9px;
    }

    h6 {
        padding-top: 20px;
        font-size: 11px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    
      footer p {
        font-style: italic;
      }
    
      .follow {
        padding-left: 0;
    
      }
    
      .socials a{
        display: inline-block;
        font-size: 30px;
        height: 50px;
        width: 50px;
        background: #00000021;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        color: #000000;
        transition: all 0.3s ease;
      }
      
      .socials a:hover{
        color: #e3d7c5;
        background-color:#000000;
      
      }


            /* FØRSTE BREAKPOINT */

      @media screen and (min-width: 480px) {


        .mobile-container {
          max-width: 768px;
          margin: 0;
          border-radius: 10px;
        }
    
        img.logo {
          width: 15%;
          height: 15%;
        }
    
    
       body {
        font-size: 20px;
       }
    
      
       ul {
        transition: none;
      }
   
    
      }


                  /* ANDET BREAKPOINT */
    
    
      @media screen and (min-width: 768px) {
    
        .mobile-container {
          max-width: 1024px;
          margin: auto;
          border-radius: 10px;
    
    
        }
    
        img.logo {
          width: 15%;
          height: 15%;
        }

        .topnav ul li a {
          font-size: 18px;
        }
    
        .checkbtn { 
          display: none;
        }
    
    
        #mylinks {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: sticky;
          float: right;
          margin-right: 10%;
          background: none;
          transition: none;
          width: 500px;
          height: 0;
          top: 50%;
          left: 35%;
         
        }
    
        #mylinks{
          right: 20px;
        }
      
    
        .topnav ul li a:hover{
          color: #ff8f1e;
          transition: .5s;
          
        }

        .soda {
          display: grid;
          grid-template-columns: 50% 50%;
        }
  
        .shirts {
          display: grid;
          grid-template-columns: 50% 50%;
        }
  
        .sort {
          background-color: #e3d7c5;
        }
  
        .light {
          background-color: #f0dbc7;
        }


        .knap2 button {
          border: 0;
          background-color: #e3d7c5;
          margin-left: 40%;
          border-radius: 20px;
          padding-left: 30px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .knap3 button {
          border: 0;
          background-color: #f0dbc7;
          margin-left: 40%;
          border-radius: 20px;
          padding-left: 30px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
        }


        .knap1 {
          padding-left: 30px;
          margin-left: -8px;

        }

        .knap2 {
          padding-left: 30px;
          margin-left: -8px;

        }

        .knap3 {
          padding-left: 30px;
          margin-left: -8px;

        }

        .knap4 {
          padding-left: 30px;
          margin-left: -8px;

        }




        h1 {
          padding-bottom: 10px;
        }

        .hvid img {
          width: 190px;
          height: 230px;

        }

        .sort img {
          width: 190px;
          height: 230px;

        }

        .squash img {
          width: 160px;
          height: 260px;

        }

        .light img {
          width: 160px;
          height: 260px;

        }

        .kontakt p {
          padding-bottom: 30%;
          font-size: 20px;

        }

        .menu p {
          padding-bottom: 20%;
          font-size: 20px;
        }


        .kontakt h6 {
          font-size: 20px;
        }

        .menu h6 {
          font-size: 20px;
        }
    
        }
    
                    /* TREDJE BREAKPOINT */
    
        @media screen and (min-width: 1024px) {
    
          .mobile-container {
            max-width: 1200px;
            margin: auto;
            border-radius: 10px;
          }
          
          body {
            font-size: 24px;
          }
  
          h2 {
            font-size: 60px;
          }
      
    
          footer {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            font-size: 20px;
            padding-bottom: 10px;
          }


          img.logo {
            width: 10%;
            height: 10%;
          }
          


    
      }

                  /* FJERDE BREAKPOINT */
    
      @media screen and (min-width: 1200px) {
    
        
        .mobile-container {
          max-width: none;
          width: 100%;
          margin: auto;
          border-radius: 10px;
          
        }
    
        .topnav ul li a {
          font-size: 18px;
        }
    
    
        body {
          font-size: 30px;
        }
      
        img.logo {
          width: 10%;
          height: 80%;
          margin-top: -10px;
          margin-top: 5px;
        }

        nav.topnav {
          height: 90px;
        }
    

    
      }
    
