
body {
    margin: 0;
    font-size: 70%;
    font-family: 'Nunito', sans-serif;
    }
    
    .mobile-container {
      max-width: 480px;
      margin: auto;
      background-color: #f0dbc7;
      color: black;
      border-radius: 10px;
      font-weight: 100;
    }



     /* STYLING AF SCROLLBAR */   
   
     ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background: #f0dbc7;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #ff8f1e;
      border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #ff8f1e;
      border-radius: 15px;
    }  

    /* STYLING AF HEADER */

    .topnav {
        overflow: hidden;
        background-color: #e3d7c5;
        width: 100%;
        position: relative;
      }
  
      .logo {
        width: 100%;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
      }

      img.logo {
        width: 15%;
        height: 15%;
      }
      
      .topnav #mylinks {
        float: right;
        padding: 0;
        margin: 0;
      }
      
      li {
        list-style-type: none;
        display: inline-block;
        line-height: 5;
        margin: 0 10px;
        }
    
      .topnav ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 20px;
      }
    
      .checkbtn{
        font-size: 30px;
        color: #ff8f1e;
        float: right;
        line-height: 75px;
        margin-right: 30px;
        cursor: pointer;
      
      }
    
      #check{
        display: none;
      }
    
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d6ccc2;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
    
    ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    
    .topnav ul li a:hover{
      color: #d6ccc2;
      transition: .5s;
      width: 480px;
    }
    
    #check:checked ~ ul{
      left: 0;
    }

    /* STYLING AF MAIN */

    .sodavand {
        display: grid;
        grid-template-columns: 60% 80%;
        padding-left: 2%;
    }
    .sodavand h1 {
        font-size: 80%;
        padding-top: 5%;
        color: #ff8f1e;

    }


    .sodavand img {
        height: 70%;
        width: 35%;
        padding-right: 10px;
        padding-top: 30px;
    }

    .sodavand h2 {
        font-size: 60%;
        font-weight: normal;
    }

    .skrift {
      padding-left: 50px;
      padding-top: 12%;

    }

    .konkurrence {
      background-color: #e3d7c5;
        padding-top: 1%;
        padding-bottom: 2%;
        text-align: center;
    }

    .smag {
        padding-top: 3%;
        padding-bottom: 4%;
        text-align: center;

    }


    .shop {
      background-color: #e3d7c5;
        padding-top: 5%;
        padding-bottom: 6%;
        text-align: center;

    }


    .konkurrence h2 {
      color: #ff8f1e;
      font-size: 40px;
    }

    .smag h2 {
      color: #ff8f1e;
    }

    .shop h2 {
      color: #ff8f1e;
    }




   
    
      .knap button {
        border: 0;
        background-color: #e3d7c5;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
      }

      .knap2 button {
        border: 0;
        background-color: #f0dbc7;
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
      }

      .shop h3 {
        font-weight: normal;
        font-size: 14px;
      }

      .smag h3 {
        font-weight: normal;
        font-size: 14px;
      }

      .smag h4 {
        font-weight: normal;
        font-size: 14px;
      }

      .konkurrence h3 {
        font-weight: normal;
        font-size: 14px;
      }

      .konkurrence h4 {
        font-weight: normal;
        font-size: 14px;
      }

      .konkurrence h5 {
        font-weight: normal;
        font-size: 14px;
      }

      .konkurrence img {
        display: none;
      }

      .smag img {
        display: none;
      }

      .konkurrence {

      padding: 20px;
      }


     /* STYLING AF FOOTER */

     footer {
      padding-left: 5%;
      padding-top: 5%;
    }
  
      .footer-logo img {
          width: 90px;
          height: 40px;
      }
  
      .footer-logo h2 {
          font-size: 9px;
      }
  
      h6 {
          padding-top: 20px;
          font-size: 11px;
          margin-bottom: 10px;
          margin-top: 10px;
        }
      
        footer p {
          font-style: italic;
        }
      
        .follow {
          padding-left: 0;
      
        }
      
        .socials a{
          display: inline-block;
          font-size: 30px;
          height: 50px;
          width: 50px;
          background: #00000021;
          margin: 0 10px 10px 0;
          text-align: center;
          line-height: 50px;
          border-radius: 50%;
          color: #000000;
          transition: all 0.3s ease;
        }
        
        .socials a:hover{
          color: #e3d7c5;
          background-color:#000000;
        
        }



       /* FØRSTE BREAKPOINT */
      @media screen and (min-width: 480px) {


        .mobile-container {
          max-width: 768px;
          margin: 0;
          border-radius: 10px;
        }
    
        img.logo {
          width: 15%;
          height: 15%;
        }
    
        .konkurrence h2 {
          font-size: 25px;
        }

        .smag h2 {
          font-size: 25px;
        }

        .shop h2 {
          font-size: 25px;
        }
    
    
       body {
        font-size: 20px;
       }
    
      
       ul {
        transition: none;
      }
    
      }
    
             /* ANDEN BREAKPOINT */
    
      @media screen and (min-width: 768px) {
    
        .mobile-container {
          max-width: 1024px;
          margin: auto;
          border-radius: 10px;
    
    
        }
    
        img.logo {
          width: 15%;
          height: 15%;
        }
    
        .checkbtn { 
          display: none;
        }
    
    
        #mylinks {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: sticky;
          float: right;
          margin-right: 20%;
          background: none;
          transition: none;
          width: 500px;
          height: 0;
          top: 40%;
          left: 40%;
         
        }
    
        #mylinks{
          right: 20px;
        }
      
    
        .topnav ul li a:hover{
          color: #ff8f1e;
          transition: .5s;
          
        }
    
        section.konkurrence {
          grid-template-columns: 1fr 1fr;
          padding: 10px;
        
      }

      .topnav ul li a {
        font-size: 18px;
      }
    

      .smag {
        display: grid;
        grid-template-columns: 50% 50%;
      }

      .smag img {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 70%;
        height: 80%;
      }

      .text1 {
        margin-top: 15%;
      }


      .konkurrence {
        display: grid;
        grid-template-columns: 100%;
      }

      .konkurrence img {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 90%;
        margin-left: 7%;
        margin-top: 7%;
      }

      .text {
        margin-top: 15%;
        margin-right: 6%;
      }

      .text1 h2 {
        font-size: 30px;
      }

      .text1 h3 {
        font-size: 18px;
      }

      .text1 h4 {
        font-size: 18px;
      }

      .text1 h5 {
        font-size: 18px;
      }


      .text h2 {
        font-size: 30px;
      }

      .text h3 {
        font-size: 18px;
      }

      .text h4 {
        font-size: 18px;
      }

      .text h5 {
        font-size: 18px;
      }


      .shop h2 {
        font-size: 30px;
      }

      .shop h3 {
        font-size: 18px;
      }


      .skrift h1 {
        font-size: 45px;
      }

      .skrift h2 {
        font-size: 25px;
      }

      img.logo {
        width: 15%;
        height: 15%;
      }




        }
    
      
               /* TREDJE BREAKPOINT */
    
        @media screen and (min-width: 1024px) {
    
          .mobile-container {
            max-width: 1200px;
            margin: auto;
            border-radius: 10px;
          }

          img.logo {
            width: 10%;
            height: 10%;
          }
          
          body {
            font-size: 24px;
          }
  
          h2 {
            font-size: 60px;
          }
      
          .instagram p {
            font-size: 25px;
          }
    
          footer {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            font-size: 20px;
            padding-bottom: 10px;
          }

          .sodavand img {
            width: 35%;
            height: 85%;
            margin-right: 10px;
          }
    
      }


             /* FJERDE BREAKPOINT */
    
      @media screen and (min-width: 1200px) {
    
        
        .mobile-container {
          max-width: none;
          width: 100%;
          margin: auto;
          border-radius: 10px;
          
        }
    
        .topnav ul li a {
          font-size: 18px;
        }
    
        h2 {
          font-size: 80px;
        }
    
        .instagram p {
          font-size: 30px;
        }
    
        body {
          font-size: 30px;
        }
      
        img.logo {
          width: 10%;
          height: 80%;
          margin-top: -10px;
          margin-top: 5px;
        }

        nav.topnav {
          height: 90px;
        }

        }

    





